footer
    div
        a(href="/static/html/datenschutz.html" target="_blank") Datenschutz
            br
        a(href="/static/html/imprint.html" target="_blank") Impressum
    div
        a(href="https://www.instagram.com/meshfestival/",target="_blank")
            img(src="/static/img/icons/sm-icon-02.svg")
        a(href="https://www.linkedin.com/company/meshfestival",target="_blank")
            img(src="/static/img/icons/sm-icon-01.svg")
        a(href="https://www.facebook.com/meshfestival/",target="_blank")
            img(src="/static/img/icons/sm-icon-03.svg")
    div
        a(href="mailto:media@meshfestival.ch",target="_blank") Kontakt: media@meshfestival.ch
        br
        a(href="https://confirmsubscription.com/h/i/50DBB2AA262DFFE1",target="_blank") Newsletter




    //script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js" crossorigin="anonymous")
    //script(src="https://embed.ticketpark.ch/v1/")                
    script(src=baseURL+'static/script/main.js')

