div#hamburger(onclick="toggleNav()")
    div
    div
    div
    div
nav#startpageNav
    if navigation && navigation[languageParameter] && navigation[languageParameter].Menu
        each item in navigation[languageParameter].Menu
            if item.Visible !== false
                a.bubble(href=baseURL+(item.URL || ''))= item.Title
    if(language[0] == 'en')
        a#lang.bubble(href="/de") DE
    else
        a#lang.bubble(href="/en") EN