@font-face {
    font-family: 'FreeSerif-JK';
    src: url('https://johnsonkingston.ch/fonts/JK-MESH-Serif.woff2') format('woff2'),
        url('https://johnsonkingston.ch/fonts/JK-MESH-Serifwoff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSans-JK';
    src: url('https://johnsonkingston.ch/fonts/JK-MESH-Sans.woff2') format('woff2'),
        url('https://johnsonkingston.ch/fonts/JK-MESH-Sans.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body{
    font-family: 'FreeSans-JK' !important;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal !important;
}
h1{
    font-size: 56px !important;;
    line-height: 66px !important;;
    font-family: 'FreeSerif-JK' !important;
}
h2{
    padding: 5px 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;  
    display: block;
    width: fit-content;
}
h3{
    font-size: 36px !important;
    line-height: 46px !important;
}
h4{
    font-size: 15px !important;
    line-height: 24px !important;
    padding: 5px 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;  
    display: block;
    width: fit-content;
}
h5{
    font-size: 85% !important;
    line-height: 135% !important; 
}
h6{
    font-size: 70% !important;
    line-height: 120% !important;
}
.pill{
    padding: 5px 10px;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;  
    display: inline;
}
.bio-wrapper{
    font-size: 75%;
    line-height: 125%;
    width: 75%
}
.boxtext{
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    width: 100%;
    font-family: 'FreeSerif-JK';
    text-align: center;
    font-size: 36px !important;
    line-height: 49px !important;
    border-radius: 5px;
    i,em{
        font-style: normal !important;
        font-family: 'FreeSans-JK';
        font-size: 15px !important;
        line-height: 24px !important;
    }
}
.image-half{
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
.image-bio{
    width: 30%;
    display: inline-block;
    vertical-align: top;
}
.image-caption{
    font-size: 75% !important;
    line-height: 125% !important;   
    margin-block-start: 0em !important;
}
i, em{
    font-style: normal;
    text-transform: uppercase;
}