@charset "UTF-8";
@font-face {
  font-family: "FreeSerif-JK";
  src: url("../fonts/JK-MESH-Serif.woff2") format("woff2"), url("../fonts/JK-MESH-Serifwoff") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "FreeSans-JK";
  src: url("../fonts/JK-MESH-Sans.woff2") format("woff2"), url("../fonts/JK-MESH-Sans.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
:root {
  --color1: 215, 255, 0, 1;
  --color2: 140, 110, 255, 1;
  --color3: 215,215,215,1;
  --color4: 0,0,0,0;
}

body {
  font-family: "FreeSans-JK", sans-serif;
  margin: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
}

::-moz-selection {
  background: rgba(var(--color1));
}

::selection {
  background: rgba(var(--color1));
}

a {
  text-decoration: none;
  color: rgba(var(--color2));
}

h1, h2, h3, h4, h5, h6 {
  max-width: 100%;
  overflow: visible;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  font-weight: normal !important;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  -webkit-hyphens: auto;
          hyphens: auto;
}

ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0;
}

::-webkit-scrollbar {
  display: none;
}

a, h1, h2, h3, h4, h5, h6, p, li, blockquote, div, section, main, footer {
  transition: color 1s linear, background-color 2s linear;
}

main {
  transition: all 1s linear;
}

/*GENERAL*/
.smallpill {
  font-size: 1.5vw;
  line-height: 1.7vw;
  border-radius: 1.5vw;
  padding: 0.4vw 1.6vw 0.4vw 1.6vw;
  margin-right: 0.4vw;
  white-space: nowrap;
}
@media (orientation: portrait) {
  .smallpill {
    font-size: 3.75vw;
    line-height: 4.25vw;
    border-radius: 3.75vw;
    padding: 1vw 4vw 1vw 4vw;
    margin-right: 1vw;
  }
}

.mediumpill {
  font-size: 2vw;
  line-height: 2.2vw;
  border-radius: 2vw;
  padding: 0.4vw 1.6vw 0.4vw 1.6vw;
  margin-right: 0.8vw;
}
@media (orientation: portrait) {
  .mediumpill {
    font-size: 5vw;
    line-height: 5.5vw;
    border-radius: 5vw;
    padding: 1vw 4vw 1vw 4vw;
  }
}

.bigpill {
  font-size: 7vw;
  line-height: 9vw;
  border-radius: 7vw;
  padding: 0.8vw 3.2vw 0.8vw 3.2vw;
  background: rgba(var(--color1));
  color: rgba(var(--color2));
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
}
@media (orientation: portrait) {
  .bigpill {
    font-size: 10.5vw;
    line-height: 13.5vw;
    border-radius: 10.5vw;
    padding-left: 4.8vw;
    padding-right: 4.8vw;
  }
}

.blur {
  filter: blur(20px);
}

.eventswrapper {
  display: block;
  width: 100%;
}
.eventswrapper a {
  width: 48%;
  display: inline-block;
  vertical-align: top;
}
@media (orientation: portrait) {
  .eventswrapper a {
    width: calc(50% - 1.6vw);
    margin-right: 1.6vw;
  }
}
.eventswrapper a .events {
  width: 89%;
  border-radius: 0.8vw;
  height: 25vw;
}
@media (orientation: portrait) {
  .eventswrapper a .events {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 1.6vw;
  }
}
.eventswrapper a .events .eventimg {
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 20px rgba(var(--color2));
  margin-bottom: 0.8vw;
  border-radius: 0.8vw;
}
.eventswrapper a .events .caption {
  display: inline-block;
  font-size: 2vw;
  line-height: 2.2vw;
  text-indent: -2.2vw;
  margin-left: 2.2vw;
}
@media (orientation: portrait) {
  .eventswrapper a .events .caption {
    font-size: 5vw;
    line-height: 5.5vw;
    text-indent: -5.5vw;
    margin-left: 5.5vw;
  }
}
@media (orientation: portrait) {
  .eventswrapper a .events {
    height: auto;
  }
}
@media (orientation: portrait) {
  .eventswrapper .eventLink:last-of-type {
    display: none;
  }
}

/*STARTPAGE */
.startpage {
  scroll-snap-type: y mandatory;
}
.startpage main {
  min-height: 100vh;
  height: calc(100vh - 1.4vw);
  padding-top: 1.4vw;
  overflow: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
}
.startpage main section {
  width: 100vw;
  height: calc(200vh - 8vw);
  scroll-snap-align: start;
  padding-top: 1.4vw;
}
.startpage main section .bigpill {
  position: sticky;
  top: 50vh;
  left: 50vw;
  margin-bottom: 40vh;
  transform: translate(-50%, -50%);
}
@media (orientation: portrait) {
  .startpage main section .bigpill {
    left: 0;
    transform: none;
    margin-left: auto;
    margin-right: auto;
  }
}
.startpage main video {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center bottom;
     object-position: center bottom;
  top: 0;
  left: 0;
  mix-blend-mode: overlay;
  display: none;
}
.startpage main .bubbles {
  position: absolute;
  top: 0;
}
.startpage main .bubblesRight {
  margin-left: 50%;
}
.startpage main #bubbleLeftVideo, .startpage main #bubbleRightVideo {
  height: 100vh;
  width: 50vw;
  display: block;
  mix-blend-mode: lighten;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.startpage main #bubbleRightVideo {
  float: right;
}
.startpage main #video1 {
  display: block;
}
.startpage main .preview {
  height: calc(100vh - 4vw);
  padding-top: 4vw;
  width: 100vw;
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(var(--color3)) 100%);
  scroll-snap-align: start;
}
@media (orientation: portrait) {
  .startpage main .preview {
    padding-top: 10vw;
    height: calc(100vh - 10vw);
    overflow: hidden;
  }
}
.startpage main .preview .left, .startpage main .preview .right {
  width: 47%;
  display: inline-block;
  vertical-align: top;
}
@media (orientation: portrait) {
  .startpage main .preview .left, .startpage main .preview .right {
    width: calc(100% - 3.2vw);
    display: block;
  }
}
@media (orientation: portrait) {
  .startpage main .preview .left {
    margin-top: 2vw;
  }
}
.startpage main .preview .left h2 {
  padding-top: 1.6vw;
}
.startpage main .preview .left p {
  font-size: 2vw;
  line-height: 2.2vw;
  padding: 0 1.6vw;
  text-align: center;
}
@media (orientation: portrait) {
  .startpage main .preview .left p {
    font-size: 5vw;
    line-height: 5.5vw;
    padding: 0 4vw;
  }
}
.startpage main .preview .right {
  margin-top: 1.6vw;
  padding: 1.6vw;
}
.startpage main .preview .right .previewItem {
  margin-top: 8vw;
  display: inline-block;
}
.startpage main .preview .right .previewItem a {
  color: rgba(var(--color3));
}
@media (orientation: portrait) {
  .startpage main .preview .right .previewItem {
    margin-top: 4vw;
    width: 100%;
    text-align: center;
  }
}
.startpage main .preview .right .previewItem .smallpill {
  text-align: left;
}
.startpage main .preview h2 {
  font-size: 7vw;
  line-height: 6vw;
  font-family: "FreeSans-JK";
}
@media (orientation: portrait) {
  .startpage main .preview h2 {
    font-size: 10.5vw;
    line-height: 13.5vw;
  }
}
.startpage .smallpill {
  background: rgba(var(--color2));
  color: rgba(var(--color3));
  display: inline-block;
}
.startpage .mainimageCaption {
  margin-left: 0.8vw;
  bottom: 0.8vw;
  font-size: 1.5vw;
  color: rgba(var(--color2));
  z-index: -1;
  padding-top: 19vw;
}
@media (orientation: portrait) {
  .startpage .mainimageCaption {
    font-size: 3.75vw;
  }
}

/*PAGE */
.page main {
  width: 50%;
  background: linear-gradient(0deg, rgba(var(--color1)) 0%, rgba(var(--color3)) 50%);
  background-attachment: fixed;
  padding: 0.8vw;
  margin-left: calc(50% - 1.6vw);
  min-height: 100vh;
  padding-bottom: 10vh;
}
@media (orientation: portrait) {
  .page main {
    margin-left: 0;
    padding: 2vw;
    width: calc(100% - 4vw);
    margin-top: 100vh;
  }
}
.page main .mainimage, .page main .grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
@media (orientation: portrait) {
  .page main .mainimage {
    -o-object-position: left;
       object-position: left;
  }
}
.page main .grid {
  z-index: 0;
  width: auto;
  z-index: -2;
  mix-blend-mode: soft-light;
}
.page main #gridRight {
  left: auto;
  Right: 0;
}
.page main .mainimageCaption {
  position: fixed;
  left: 0.8vw;
  bottom: 0.8vw;
  font-size: 1.5vw;
  color: rgba(var(--color2));
  z-index: -1;
}
.page main .content ul {
  text-indent: -2.2vw;
  margin-left: 2.2vw;
}
@media (orientation: portrait) {
  .page main .content ul {
    text-indent: -5.5vw;
    margin-left: 5.5vw;
  }
}
.page main .content li:before {
  content: "• ";
}
.page main .content li p {
  display: contents;
}
.page main .content h1 {
  margin-top: 7vw;
}
.page main .content h2 {
  font-size: 2vw;
  line-height: 2.2vw;
  font-family: "FreeSans-JK";
  margin-top: 2.2vw;
  background: rgba(var(--color1));
  padding: 0.8vw 1.6vw;
  border-radius: 2.2vw;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  margin-left: 50%;
  transform: translateX(-50%);
  position: sticky;
  top: 1.6vw;
}
@media (orientation: portrait) {
  .page main .content h2 {
    font-size: 5vw;
    line-height: 5.5vw;
    padding: 2vw 4vw;
    top: 4vw;
    border-radius: 5.5vw;
  }
}
.page main .content h3 {
  font-size: 6.3vw;
  line-height: 5.4vw;
  font-family: "FreeSans-JK";
  margin-top: 2.2vw;
}
@media (orientation: portrait) {
  .page main .content h3 {
    font-size: 5vw;
    line-height: 5.5vw;
    margin-top: 5.5vw;
  }
}
.page main .content h4 {
  font-size: 2vw;
  line-height: 2.2vw;
  color: rgba(var(--color2));
  background: rgba(var(--color3));
  border: 0.2vw solid rgba(var(--color2));
  border-radius: 2.2vw;
  padding: 0.4vw 1.6vw 0.4vw 1.6vw;
  margin-top: 0.8vw;
  display: inline-block;
}
@media (orientation: portrait) {
  .page main .content h4 {
    font-size: 5vw;
    line-height: 5.5vw;
    border-radius: 5.5vw;
    padding: 1vw 4vw 1vw 4vw;
    margin-top: 2vw;
  }
}
.page main .content h5 {
  font-size: 1.5vw;
  line-height: 1.7vw;
  color: rgba(var(--color2));
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}
.page main .content h6 {
  font-size: 1.1vw;
  line-height: 1.4vw;
  color: rgba(var(--color2));
  margin-bottom: 1.4vw;
}
@media (orientation: portrait) {
  .page main .content h6 {
    font-size: 2.75vw;
    line-height: 3.5vw;
  }
}
.page main .content p, .page main .content li {
  -webkit-hyphens: auto;
          hyphens: auto;
}
.page main .content table, .page main .content tr, .page main .content td {
  border: none;
  vertical-align: top;
}
.page main .content a img {
  width: 25%;
  display: inline-block;
  vertical-align: middle;
  margin: 0.8vw;
}
.page main .content em, .page main .content i {
  text-transform: uppercase;
  font-style: normal;
}
.page main .content img, .page main .content video {
  width: 100%;
  margin-bottom: 0.8vw;
}
.page main .content video {
  height: 28vw;
}
@media (orientation: portrait) {
  .page main .content video {
    height: 56.25vw;
    background: rgba(var(--color2));
  }
}
.page main .content iframe {
  max-width: 100%;
  width: 100%;
  height: 28vw;
}
@media (orientation: portrait) {
  .page main .content iframe {
    width: 100%;
    height: 66vw;
  }
}
.page main .content .boxtext {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  width: calc(100% - 1.6vw);
  margin-right: 5%;
  background: rgba(var(--color2));
  display: inline-block;
  vertical-align: top;
  margin-bottom: 2.4vw;
  border-radius: 0.8vw;
  color: white;
  padding: 0.8vw;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "FreeSerif-JK";
  font-size: 4vw;
  line-height: 4vw;
  text-align: center;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(var(--color3));
  -webkit-hyphens: auto;
          hyphens: auto;
}
@media (orientation: portrait) {
  .page main .content .boxtext {
    width: 100%;
    display: block;
  }
}
@media (orientation: portrait) {
  .page main .content .boxtext {
    font-size: 10vw;
    line-height: 10vw;
  }
}
.page main .content .boxtext em {
  font-size: 1.5vw;
  line-height: 1.7vw;
  font-style: normal;
  font-family: "FreeSans-JK";
  text-align: left;
  display: block;
  -webkit-text-stroke-width: 0;
  text-transform: none;
}
@media (orientation: portrait) {
  .page main .content .boxtext em {
    font-size: 3.75vw;
    line-height: 4.25vw;
  }
}
.page main .content .boxtext a {
  color: white;
}
.page main .content .pill {
  font-size: 1.5vw;
  line-height: 1.7vw;
  background: rgba(var(--color2));
  color: rgba(var(--color3));
  border-radius: 1.5vw;
  padding: 0.2vw 0.8vw 0.2vw 0.8vw;
  margin-right: 0.4vw;
  white-space: nowrap;
}
.page main .content .pill p {
  display: inline;
  color: rgba(var(--color3));
  font-size: 1.5vw;
  line-height: 1.7vw;
}
@media (orientation: portrait) {
  .page main .content .pill {
    border-radius: 3.75vw;
    padding: 0.5vw 2vw 0.5vw 2vw;
  }
}
.page main .content .bio-wrapper {
  font-size: 1.5vw;
  line-height: 1.7vw;
  width: 66%;
}
@media (orientation: portrait) {
  .page main .content .bio-wrapper {
    font-size: 3.75vw;
    line-height: 4.25vw;
  }
}
.page main .content .image-half, .page main .content .image-bio {
  width: calc(50% - 0.8vw);
  margin-right: 0.8vw;
  display: inline-block;
  vertical-align: top;
}
.page main .content .image-bio {
  width: 30%;
}
@media (orientation: portrait) {
  .page main .content .image-bio {
    width: 66%;
  }
}
.page main .content .image-caption {
  font-size: 1.5vw;
  line-height: 1.7vw;
  margin-block-start: 0.2em;
}

.event .breadcrumb {
  color: rgba(var(--color2));
  background: rgba(var(--color1));
  position: fixed;
  top: 0.8vw;
  left: 50vw;
  transform: translateX(-50%);
  z-index: 10;
  text-transform: capitalize;
}
@media (orientation: portrait) {
  .event .breadcrumb {
    top: 2vw;
  }
}
.event main {
  background: linear-gradient(180deg, rgba(var(--color4)) 0%, rgba(var(--color3)) 4%);
  margin-top: 95vh;
  padding-top: 10vw;
}
@media (orientation: portrait) {
  .event main {
    padding-top: 30vw;
    margin-top: 85vh;
  }
}
@media (orientation: portrait) {
  .event main .mainimage {
    -o-object-position: center;
       object-position: center;
  }
}
.event .eventHeader {
  color: rgba(var(--color1));
  margin: 3.2vw 0;
}
.event .eventHeader .eventHeaderColumn {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
.event .eventHeader .eventHeaderColumn p {
  font-size: 1.5vw;
  line-height: 1.7vw;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media (orientation: portrait) {
  .event .eventHeader .eventHeaderColumn p {
    font-size: 3.75vw;
    line-height: 4.25vw;
  }
}
.event .eventHeader .eventHeaderColumn #ticketlink {
  background-color: rgba(var(--color1));
  color: rgba(var(--color2));
  display: inline-block;
  cursor: pointer;
  margin-left: -1.5vw;
}
h1, h2, h3 {
  font-family: "FreeSerif-JK";
  text-align: center;
  color: rgba(var(--color2));
}

h1 {
  font-size: 7vw;
  line-height: 6vw;
}
@media (orientation: portrait) {
  h1 {
    font-size: 17.5vw;
    line-height: 15vw;
  }
}

p, li {
  color: rgba(var(--color2));
  font-size: 2vw;
  line-height: 2.2vw;
}
@media (orientation: portrait) {
  p, li {
    font-size: 5vw;
    line-height: 5.5vw;
  }
}

#ticketshop {
  display: none;
  position: fixed;
  width: 50vw;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  max-height: 80vh;
  z-index: 10;
  overflow: scroll;
  box-shadow: 0 0 20px rgba(var(--color2));
}

#ticketclose {
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  z-index: 9;
}

/*NAVIGATION */
nav {
  position: fixed;
  top: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(var(--color1)) 0%, rgba(var(--color3)) 50%);
  transition: top 0.5s ease-in-out;
  z-index: 90;
  overflow: hidden;
}
nav ul {
  margin-top: 2.4vw;
}
@media (orientation: portrait) {
  nav ul {
    margin-top: 27vw;
  }
}
nav li.navigation {
  font-size: 10vh;
  line-height: 8vh;
  padding-bottom: 0.8vw;
  text-align: center;
}
@media (orientation: portrait) {
  nav li.navigation {
    padding-bottom: 0;
    font-size: 13vw;
    line-height: 13vw;
  }
}
nav .logo {
  position: absolute;
  width: 27%;
}
@media (orientation: portrait) {
  nav .logo {
    width: 50%;
  }
}
nav .navBottom {
  display: flex;
  text-align: center;
}
nav .navBottom .left, nav .navBottom .middle, nav .navBottom .right {
  width: 33%;
  font-size: 10vh;
  font-family: "FreeSerif-JK";
}
@media (orientation: portrait) {
  nav .navBottom .left, nav .navBottom .middle, nav .navBottom .right {
    font-size: 13vw;
  }
}
@media (orientation: portrait) {
  nav .navBottom .middle {
    margin-top: 5vw;
  }
}
@media (orientation: portrait) {
  nav .navBottom .left, nav .navBottom .right {
    margin-top: 18vw;
  }
}
nav .navBottom img, nav .navBottom svg {
  height: 8vh;
  padding: 0.8vw;
}
@media (orientation: portrait) {
  nav .navBottom img, nav .navBottom svg {
    height: 13vw;
    padding: 1.6vw;
  }
}
nav .navBottom .cls-1 {
  fill: none;
  stroke: rgba(var(--color2));
  stroke-miterlimit: 10;
  stroke-width: 20px;
}
nav .languages {
  position: absolute;
  top: 0;
  right: 9vw;
}
@media (orientation: portrait) {
  nav .languages {
    right: 20vw;
  }
}
nav .languages li {
  display: inline-block;
  list-style: none;
}
nav .languages .smallpill {
  margin-top: 3vw;
  background: rgba(var(--color1));
}

.open {
  top: 0;
}

#navButton, #newsClose, #navButtonClose {
  position: fixed;
  top: 1.1vw;
  right: 1.1vw;
  z-index: 100;
  cursor: pointer;
}
@media (orientation: portrait) {
  #navButton, #newsClose, #navButtonClose {
    top: 2.75vw;
    right: 2.75vw;
  }
}
#navButton img, #navButton svg, #newsClose img, #newsClose svg, #navButtonClose img, #navButtonClose svg {
  width: 4.7vw;
}
@media (orientation: portrait) {
  #navButton img, #navButton svg, #newsClose img, #newsClose svg, #navButtonClose img, #navButtonClose svg {
    width: 11.75vw;
  }
}
#navButton .st0, #newsClose .st0, #navButtonClose .st0 {
  fill: rgba(var(--color2));
}
#navButton .st1, #newsClose .st1, #navButtonClose .st1 {
  fill: rgba(var(--color1));
}

.startpage #navButton, #newsClose {
  top: 5.6vw;
}
@media (orientation: portrait) {
  .startpage #navButton, #newsClose {
    top: 14vw;
  }
}

#newsClose, #navButtonClose {
  display: none;
}

#instaButton {
  position: fixed;
  bottom: 0.8vw;
  left: 0.8vw;
  z-index: 1;
  background: rgba(var(--color1));
  color: rgba(var(--color2));
}
@media (orientation: portrait) {
  #instaButton {
    top: 11.8vw;
    bottom: auto;
  }
}

/* NEWSBAR */
.marquee {
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: "FreeSerif-JK";
  background-color: rgba(var(--color1));
  color: rgba(var(--color2));
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  height: 4vw;
  box-shadow: 0 0 20px black;
  z-index: 2;
  transition: all 1s;
}
@media (orientation: portrait) {
  .marquee {
    height: 10vw;
  }
}

.newsopen {
  height: calc(100vh + 4vw);
}
@media (orientation: portrait) {
  .newsopen {
    height: 100vh;
  }
}
.newsopen span {
  background-color: rgba(var(--color2));
  color: rgba(var(--color1));
}

.marquee p {
  display: inline-block;
  animation: marquee 7s linear infinite;
  line-height: 4.4vw;
  font-size: 4vw;
  margin-block-start: 0;
  margin-block-end: 0;
  cursor: pointer;
}
@media (orientation: portrait) {
  .marquee p {
    line-height: 11vw;
    font-size: 10vw;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-25%, 0);
  }
}
.newscontent {
  height: calc(100vh - 4.4vw);
  overflow: scroll;
  width: 100vw;
  white-space: normal;
}
@media (orientation: portrait) {
  .newscontent {
    height: calc(100vh - 10vw);
  }
}
.newscontent .newscontentInner {
  width: 100vw;
}
.newscontent .newscontentInner .grid-item, .newscontent .newscontentInner .grid-sizer {
  width: 22%;
  float: left;
  padding: 0.8vw;
  margin-bottom: 2.4vw;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item, .newscontent .newscontentInner .grid-sizer {
    width: calc(100% - 1.6vw);
    padding-bottom: 10vh;
  }
}
.newscontent .newscontentInner .grid-item h1, .newscontent .newscontentInner .grid-sizer h1 {
  line-height: 4vw;
  font-size: 4vw;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item h1, .newscontent .newscontentInner .grid-sizer h1 {
    line-height: 10vw;
    font-size: 10vw;
  }
}
.newscontent .newscontentInner .grid-item p, .newscontent .newscontentInner .grid-sizer p {
  display: block;
  animation: none;
  white-space: normal;
  font-family: "FreeSans-JK";
  font-size: 1.1vw;
  line-height: 1.4vw;
  cursor: default;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item p, .newscontent .newscontentInner .grid-sizer p {
    font-size: 2.75vw;
    line-height: 3.5vw;
  }
}
.newscontent .newscontentInner .grid-item .date, .newscontent .newscontentInner .grid-sizer .date {
  text-align: center;
}
.newscontent .newscontentInner .grid-item img, .newscontent .newscontentInner .grid-sizer img {
  width: 100%;
  box-shadow: 0 0 10px rgba(var(--color2));
  margin-bottom: 0.8vw;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item img, .newscontent .newscontentInner .grid-sizer img {
    margin-bottom: 2vw;
  }
}
.newscontent .newscontentInner .grid-item video, .newscontent .newscontentInner .grid-sizer video {
  width: 100%;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item video, .newscontent .newscontentInner .grid-sizer video {
    height: 56.25vw;
  }
}
.newscontent .newscontentInner .grid-item a, .newscontent .newscontentInner .grid-sizer a {
  margin-top: 1.6vw;
  color: rgba(var(--color1));
  background-color: rgba(var(--color2));
  border-radius: 1.7vw;
  padding: 0.4vw 0.8vw;
}
@media (orientation: portrait) {
  .newscontent .newscontentInner .grid-item a, .newscontent .newscontentInner .grid-sizer a {
    border-radius: 4.25vw;
    padding: 1vw 2vw;
  }
}
.newscontent .newscontentInner .grid-item span, .newscontent .newscontentInner .grid-sizer span {
  background: none;
  color: rgba(var(--color2));
}

/* FOOTER */
footer {
  background-color: rgba(var(--color2));
  padding: 1.6vw;
  box-shadow: 0 0 20px black;
}
footer a, footer p {
  color: white;
  font-size: 1.5vw;
  line-height: 1.7vw;
}
@media (orientation: portrait) {
  footer a, footer p {
    font-size: 3.75vw;
    line-height: 4.25vw;
  }
}
footer div {
  display: inline-block;
  vertical-align: top;
}
footer .toplinks {
  width: 80%;
}
@media (orientation: portrait) {
  footer .toplinks {
    width: 50%;
  }
}
footer .toplinks ul {
  margin-top: 0.8vw;
}
footer .toplinks li {
  display: inline-block;
}
@media (orientation: portrait) {
  footer .toplinks li {
    display: block;
    margin-top: 5.5vw;
  }
}
footer .toplinks li .mediumpill {
  border: 1px solid rgba(var(--color1));
}
footer .toplinks li a {
  background-color: rgba(var(--color1));
  color: rgba(var(--color2));
}
footer .toplinks li a:hover {
  background-color: rgba(var(--color2));
  color: rgba(var(--color1));
}
footer .toplinks .logo {
  width: 30%;
  margin-right: 8%;
  margin-top: -1vw;
  margin-left: -1vw;
}
@media (orientation: portrait) {
  footer .toplinks .logo {
    width: 100%;
  }
}
footer .toplinks .logo, footer .toplinks ul {
  display: inline-block;
  vertical-align: top;
}
footer .adresse {
  width: 30%;
}
@media (orientation: portrait) {
  footer .adresse {
    width: 100%;
    margin-top: 10vw;
  }
}
footer .left {
  width: 20%;
  height: 100px;
}
@media (orientation: portrait) {
  footer .left {
    width: 50%;
    height: auto;
    margin-top: 29vw;
  }
}
footer .left .mediumpill {
  border: 1px solid white;
  line-height: 5.1vw;
}
footer .left a {
  background-color: rgba(var(--color2));
}
footer .left a:hover {
  background-color: white;
  color: rgba(var(--color2));
}
footer .left .nohover:hover {
  background-color: transparent;
  color: rgba(var(--color1));
}
footer .left .smicons {
  margin-bottom: 2.4vw;
}
@media (orientation: portrait) {
  footer .left .smicons {
    width: 100%;
  }
}
footer .left .smicons img {
  width: 5vw;
  margin-right: 0.8vw;
}
@media (orientation: portrait) {
  footer .left .smicons img {
    width: 12.5vw;
    margin-right: 2vw;
  }
}
@media (orientation: portrait) {
  footer .left .smalllinks {
    margin-top: 4vw;
  }
}
@media (orientation: portrait) {
  footer .left .smalllinks li {
    margin-top: 2vw;
  }
}
@media (orientation: portrait) {
  footer .left li {
    display: block;
    margin-top: 5.5vw;
  }
}
footer .middle {
  width: 50%;
  margin-top: -3.2vw;
}
@media (orientation: portrait) {
  footer .middle {
    width: 100%;
    margin-top: 0;
  }
}
footer .middle p {
  font-size: 1.1vw;
  line-height: 1.4vw;
}
@media (orientation: portrait) {
  footer .middle p {
    font-size: 2.75vw;
    line-height: 3.5vw;
  }
}
footer .middle .logofooter {
  display: inline-block;
  vertical-align: middle;
  height: 2vw;
  padding: 0.8vw 2.4vw 0.8vw 0;
}
@media (orientation: portrait) {
  footer .middle .logofooter {
    height: 5vw;
    padding: 2vw 6vw 2vw 0;
  }
}
footer .middle .logofooterlang {
  width: 12vw;
  height: auto;
}
@media (orientation: portrait) {
  footer .middle .logofooterlang {
    width: 30vw;
  }
}/*# sourceMappingURL=main.css.map */