@font-face {
    font-family: 'FreeSerif-JK';
    src: url('../fonts/JK-MESH-Serif.woff2') format('woff2'),
        url('../fonts/JK-MESH-Serifwoff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'FreeSans-JK';
    src: url('../fonts/JK-MESH-Sans.woff2') format('woff2'),
        url('../fonts/JK-MESH-Sans.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

$padding: 0.8vw;

$fontSizeMicro: 0.8vw;
$lineHeightMicro: 1vw;

$fontSize0: 1.1vw;
$lineHeight0: 1.4vw;
$fontSize1: 1.5vw;
$lineHeight1: 1.7vw;
$fontSize2: 2vw;
$lineHeight2: 2.2vw;
$fontSize3: 7vw;
$lineHeight3: 6vw;
$fontSize3VH: 10vh;
$lineHeight3VH: 8vh;

$scaleFactor: 2.5;

:root {
    --color1:   215, 255, 0, 1;
    --color2:   140, 110, 255, 1;
    --color3:   215,215,215,1;
    --color4:   0,0,0,0;
    --hourHeight: 7vw; 
}

body{
    font-family: 'FreeSans-JK', sans-serif;
    margin:0;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    background: rgba(var(--color3));

}
::selection {
    background: rgba(var(--color1));
}
a{
    text-decoration: none; 
    color: rgba(var(--color2));
}
a:hover{
    text-shadow: 0 0 10px;
}

h1,h2,h3,h4,h5,h6{
    max-width: 100%;
    overflow: visible;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;   
    font-weight: normal !important;
}   
p{
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    hyphens:auto;
}
ul{
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
}
::-webkit-scrollbar {
    width: 7px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: rgba(var(--color1));
}
::-webkit-scrollbar-track {
    background: rgba(var(--color2));
}

a,h1,h2,h3,h4,h5,h6,p,li,blockquote,div,section,main,footer,td,table,tbody, td p{
    transition: color 1s linear, background-color 2s linear;
}
main{
    transition: all 1s linear
}

/*GENERAL*/
.smallpill{
    font-size: $fontSize1;
    line-height: $lineHeight1;
    border-radius: $fontSize1;
    padding: calc($padding/2) $padding*2 calc($padding/2) $padding*2;
    margin-right: calc($padding/2);  
    white-space: nowrap;
    @media (orientation: portrait) {
        font-size: $fontSize1*$scaleFactor;
        line-height: $lineHeight1*$scaleFactor;
        border-radius: $fontSize1*$scaleFactor;
        padding: calc($padding/2)*$scaleFactor $padding*2*$scaleFactor calc($padding/2)*$scaleFactor $padding*2*$scaleFactor;
        margin-right: calc($padding/2)*$scaleFactor;  
    }
}
.mediumpill{
    font-size: $fontSize2;
    line-height: $lineHeight2;
    border-radius: $fontSize2;
    padding: calc($padding/2) calc($padding*2) calc($padding/2) calc($padding*2);
    margin-right: $padding;
    @media (orientation: portrait) {
        font-size: $fontSize2*$scaleFactor;
        line-height: $lineHeight2*$scaleFactor;
        border-radius: $fontSize2*$scaleFactor;       
        padding: calc($padding/2)*$scaleFactor calc($padding*2)*$scaleFactor calc($padding/2)*$scaleFactor calc($padding*2)*$scaleFactor;
    }
}
.bigpill{
    font-size: $fontSize3;
    line-height: $lineHeight3*1.5;
    border-radius: $fontSize3;
    padding: $padding $padding*4 $padding $padding*4;
    background: rgba(var(--color1));
    color: rgba(var(--color2));
    text-align: center;
    width: fit-content;
    @media (orientation: portrait) {
        font-size: $fontSize3*1.5;
        line-height: $lineHeight3*1.5*1.5;
        border-radius: $fontSize3*1.5;
        padding-left: $padding*6;
        padding-right: $padding*6;
    }
}
.blur{
    filter:blur(20px);
}
.eventswrapper{
    display: block;
    width: 100%;
    a{
        width: 48%;
        display: inline-block;
        vertical-align: top;
        @media (orientation: portrait) {
            width: calc(50% - $padding*2);
            margin-right: $padding*2;
        }

        .events{
            width: 89%;
            border-radius: $padding;
            margin-bottom: $padding*2;
            @media (orientation: portrait) {
                width: 100%;
                display: inline-block;
                vertical-align: top;
                margin-bottom: $padding*2;
            }
            .eventimg{
                background-size: cover;
                background-position: center;
                box-shadow: 0 0 20px rgba(var(--color2));
                margin-bottom: $padding;
                border-radius: $padding;
                overflow: hidden;
                img{
                    width: 100%;
                    height: auto;
                    mix-blend-mode: hard-light;
                    max-height: calc(50vh - 10vw);
                    object-fit: cover;
                }
            }
            .eventimg:hover{
                box-shadow: 0 0 5px rgba(var(--color2));
            }
            .caption{
                display: inline-block;
                font-size: $fontSize2;
                line-height: $lineHeight2;
                text-indent: -$lineHeight2;
                margin-left: $lineHeight2;
                @media (orientation: portrait) {
                    font-size: $fontSize2*$scaleFactor;
                    line-height: $lineHeight2*$scaleFactor;
                    text-indent: -$lineHeight2*$scaleFactor;
                    margin-left: $lineHeight2*$scaleFactor;                   
                }
            }
            @media (orientation: portrait) {
                height: auto;
            }
        }
    }
    .eventLink:last-of-type {
        @media (orientation: portrait) {
            display: none;
        }
    }
}

/*STARTPAGE */
.startpage
{
    scroll-snap-type: y mandatory;

    main{
        min-height: 100vh;
        height: calc(100vh - $lineHeight0);
        padding-top: $lineHeight0;

        overflow: scroll;
        scroll-snap-type: y mandatory;
        scrollbar-width: none;

        section{
            width: 100vw;
            height: calc(200vh - $fontSize2*4);
            scroll-snap-align: start;
            @media (orientation: portrait) {
                height: 100vh;
            }

            .bigpill{
                position: sticky;
                top: 50vh;
                left: 50vw;
                margin-bottom: 40vh;
                transform: translate(-50%, -50%);
                @media (orientation: portrait) {
                    left: 0;
                    transform: none;
                    margin-left: auto;
                    margin-right: auto;
                    position: sticky;
                    top:auto;
                    position: relative;
                    margin-top: -57vh;
                }
            }
            .videoDesk{
                @media (orientation: portrait) {
                    display: none;
                }
            }
            .videoMobile{
                display: none;
                @media (orientation: portrait) {
                    display: block;
                }
            }
            .grid{
                position: absolute;
                height: 100%;
                top:0;
                left: 0;
                mix-blend-mode: overlay;
            }
            #gridRight{
                left: auto;
                right: 0;
            }
        }
        video{
            position: sticky;
            top:0;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            object-position: center bottom;
            //position: fixed;
            top:0;
            left: 0;
        }

        .bubbles{
            position: absolute;
            top:0;
        }
        .bubblesRight{
            margin-left: 50%;
        }
        #bubbleLeftVideo, #bubbleRightVideo{
            height: 100vh;
            width: 50vw;
            display: block;
            mix-blend-mode: lighten;
            z-index: 1;
            object-fit: contain;
            object-position: center;
        }
        #bubbleRightVideo{
            float: right;
        }

        .preview{
            height: calc(100vh - $fontSize2*2);
            padding-top: $fontSize2*2;
            width: 100vw;
            background: linear-gradient(0deg, rgba(255,255,255) 0%, rgba(var(--color3)) 100%);
            scroll-snap-align: start;
            @media (orientation: portrait) {
                padding-top: $fontSize2*2*$scaleFactor;
                height: calc(100vh - $fontSize2*2*$scaleFactor);
                overflow: hidden;
            }
            .left, .right{
                width:47%;
                display: inline-block;
                vertical-align: top;
                @media (orientation: portrait) {
                    width: calc(100% - $padding*4);
                    display: block;
                }
            }
            .left{
                @media (orientation: portrait) {
                    margin-top: 2vw;
                }
                h2{
                     padding-top: $padding*2; 
                }
                p{
                    font-size: $fontSize2;
                    line-height: $lineHeight2;
                    padding: 0 $padding*2;
                    text-align: center;
                    @media (orientation: portrait) {
                        font-size: $fontSize2*$scaleFactor;
                        line-height: $lineHeight2*$scaleFactor;
                        padding: 0 $padding*2*$scaleFactor;                   
                    }
                }
                p.bio-wrapper {
                    font-size: $fontSize1;
                    line-height: $lineHeight1;
                    @media (orientation: portrait) {
                        font-size: $fontSize1*$scaleFactor;
                        line-height: $lineHeight1*$scaleFactor;                        
                    }
                }
            }
            .right{
                margin-top: $padding*2; 
                .previewItem{
                    margin-top: $padding*10;
                    display: inline-block;
                    a{
                        color:rgba(var(--color3));
                    }
                    @media (orientation: portrait) {
                        margin-top: 4vw;
                        width: 100%;
                        text-align: center;
                    }
                    .smallpill{
                        text-align: left;
                    }
                }
                padding: $padding*2;

            }
            h2{
                font-size: $fontSize3;
                line-height: $lineHeight3;
                font-family: 'FreeSans-JK';
                @media (orientation: portrait) {
                    font-size: $fontSize3*1.5;
                    line-height: $lineHeight3*1.5*1.5;                   
                }

            }

        }
    }
    .smallpill{
        background: rgba(var(--color2));
        color: rgba(var(--color3));
        display: inline-block;
    }
    .mainimageCaption{
        margin-left: .8vw;
        top: calc(100vh - 4vw);
        font-size: 1.5vw;
        color: rgba(var(--color2));
        z-index: 1;
        position: sticky;
        @media (orientation: portrait) {
            font-size: $fontSize1*$scaleFactor;
        }
    }


}

/*PAGE */
        .page
        {
            main
            {
                width:50%;

                background: linear-gradient(0deg, rgba(var(--color1)) 0%, rgba(var(--color3)) 50%);
                background-attachment: fixed;
                padding: $padding;
                margin-left: calc(50% - ($padding*2));
                min-height: 100vh;
                padding-bottom: 10vh;
                @media (orientation: portrait) {
                    margin-left: 0;
                    padding: $padding*$scaleFactor;
                    width: calc(100% - $padding*2*$scaleFactor);
                    margin-top: 100vh;
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(var(--color3)) 15vw, rgba(var(--color1)) 100%);
                    
                    padding-top: $padding*12;

                }
                .mainimage, .grid{
                    position: fixed;
                    top:0;
                    left:0;
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -3;
                }
                .mainimage{
                    @media (orientation: portrait) {
                        object-position: left;
                    }

                }
                .grid{
                    z-index: 0;
                    width:auto;
                    z-index: -2;
                    mix-blend-mode: overlay;
                }
                #gridRight{
                    left: auto;
                    Right: 0;
                }
                .mainimageCaption{
                    position: fixed;
                    left:$padding;
                    bottom: $padding;
                    font-size: $fontSize1;
                    color: rgba(var(--color2));
                    z-index: -1;
                }
                .content{
                    ul{
                        text-indent: -$lineHeight2;
                        margin-left: $lineHeight2;
                        @media (orientation: portrait) {
                            text-indent: -$lineHeight2*$scaleFactor;
                            margin-left: $lineHeight2*$scaleFactor;                            
                        }
                    }
                    li:before{
                        content: '• '
                    }
                    li{
                        p{
                            display: contents;
                        }
                    }
                    h3{
                        margin-top: $padding*3;
                        margin-bottom: $padding*2;
                    }
                    h2{
                        font-size: $fontSize2;
                        line-height: $lineHeight2;
                        font-family: 'FreeSans-JK';
                        margin-top: $lineHeight2;
                        background: rgba(var(--color1));
                        padding: $padding $padding*2;
                        border-radius: $lineHeight2;
                        display: block;
                        width: fit-content;
                        white-space: nowrap;
                        margin-left: 50%;
                        transform: translateX(-50%);
                        //position: sticky;
                        top: $padding*2;
                        @media (orientation: portrait) {
                            font-size: $fontSize2*$scaleFactor;
                            line-height: $lineHeight2*$scaleFactor;
                            padding: $padding*$scaleFactor $padding*2*$scaleFactor;    
                            top: $padding*2*$scaleFactor;   
                            border-radius: $lineHeight2*$scaleFactor;                     
                        }
                    }
                    h1{
                        font-size: $fontSize3*0.9;
                        line-height: $lineHeight3*0.9;
                        font-family: 'FreeSans-JK';
                        margin-top: $lineHeight2;
                        @media (orientation: portrait) {
                            font-size: $fontSize2*$scaleFactor*0.9;
                            line-height: $lineHeight2*$scaleFactor*0.9;  
                            margin-top: $lineHeight2*$scaleFactor;                          
                        }                        
                    }
                    h4{
                        font-size: $fontSize2;
                        line-height: $lineHeight2;
                        color: rgba(var(--color2));
                        background: rgba(var(--color3));
                        border: 0.2vw solid rgba(var(--color2));
                        border-radius: $lineHeight2;
                        padding: calc($padding/2) calc($padding*2) calc($padding/2) $padding*2;
                        margin-top: $padding;
                        display: inline-block;
                        @media (orientation: portrait) {
                            font-size: $fontSize2*$scaleFactor;
                            line-height: $lineHeight2*$scaleFactor;
                            border-radius: $lineHeight2*$scaleFactor;
                            padding: calc($padding/2)*$scaleFactor calc($padding*2)*$scaleFactor calc($padding/2)*$scaleFactor $padding*2*$scaleFactor;
                            margin-top: $padding*$scaleFactor;
                        }
                    }
                    h5{
                        font-size: $fontSize1;
                        line-height: $lineHeight1;                       
                        color:  rgba(var(--color2));
                        margin-block-start: 0.5em;
                        margin-block-end: 0.5em;
                    }
                    h6{
                        font-size: $fontSize0;
                        line-height: $lineHeight0;
                        color:  rgba(var(--color2));
                        margin-bottom: $lineHeight0;
                        @media (orientation: portrait) {
                            font-size: $fontSize0*$scaleFactor;
                            line-height: $lineHeight0*$scaleFactor;
                        }
                    }
                    p, li{
                        hyphens: auto;
                    }
                    table,tr,td{
                        border: none;
                        vertical-align: top;
                        @media (orientation: portrait) {
                            display: block;
                        }
                    }
                    a{
                        img{
                            width: 25%;
                            display: inline-block;
                            vertical-align: middle;
                            margin: $padding;
                        }
                    }
                    em, i{
                        text-transform: uppercase;
                        font-style: normal;
                    }
                    img, video{
                        width:100%;
                        margin-bottom: $padding;
                    }
                    video{
                        height: 28vw;
                        @media (orientation: portrait) {
                            height: calc(100vw / 16 * 9);
                            background: rgba(var(--color2));
                        }
                    }
                    iframe{
                        max-width: 100%;
                        width: 100%;
                        height: 28vw;
                        @media (orientation: portrait) {
                            width: 100%;
                            height: 66vw;
                        }
                    }
                    .box-text{
                        margin-block-start: 0;
                        margin-block-end: 0;
                        margin-inline-start: 0;
                        margin-inline-end: 0;
                        width: calc(100% - ($padding*2));
                        margin-right: 5%;
                        background: rgba(var(--color2));
                        display: inline-block;
                        vertical-align: top;
                        margin-bottom: $padding*3;
                        border-radius: $padding;
                        @media (orientation: portrait) {
                            width: 100%;
                            display: block;
                            border-radius: $padding*$scaleFactor;
                        }
                        color: white;
                        padding: $padding;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        font-family: 'FreeSerif-JK';
                        font-size: $fontSize2*2;
                        line-height: $fontSize2*2;
                        text-align: center;
                        -webkit-text-stroke-width: 1px;
                        -webkit-text-stroke-color: rgba(var(--color3));
                        hyphens: auto;
                        @media (orientation: portrait) {
                            font-size: $fontSize2*2*$scaleFactor;
                            line-height: $fontSize2*2*$scaleFactor; 
                        }
                        em{
                            font-size: $fontSize0;
                            line-height: $lineHeight0;
                            font-style: normal;
                            font-family: 'FreeSans-JK';
                            text-align: left;
                            display: block;
                            -webkit-text-stroke-width: 0;
                            text-transform: none;
                            @media (orientation: portrait) {
                                font-size: $fontSize1*$scaleFactor;
                                line-height: $lineHeight1*$scaleFactor;
                            }
                            

                        }
                        a{
                            color:white;
                        }
                    }
                    table{
                        border-collapse: separate !important;
                        border-spacing: $padding;
                        width: 100%;
                        @media (orientation: portrait) {
                            width: 100%;
                        }
                        tbody.table-boxes{
                            width: 100%;
                            display: grid;
                            @media (orientation: portrait) {
                                display: block;
                                width: 95vw;
                                overflow: scroll;
                            }
                        }
                        
                    }
                    a .table-boxes td:hover{
                        box-shadow: 0 0 10px rgba(var(--color2));
                    }
                    a .table-boxes td{
                        cursor: pointer;
                    }
                    .table-boxes td{
                        background: rgba(var(--color2));
                        border-radius: $padding;
                        width: auto;
                        margin-right: 0;
                        display: table-cell;
                        vertical-align: top;
                        text-align: center;
                        font-family: 'FreeSerif-JK';
                        font-size: $fontSize2*2;
                        line-height: $fontSize2*2;
                        color: white;
                        padding: $padding;
                        margin-bottom: $padding*$scaleFactor;
                        hyphens: none;

                        @media (orientation: portrait) {
                            display: block;
                            font-size: $fontSize1*$scaleFactor;
                            line-height: $fontSize1*$scaleFactor;
                            border-radius: $padding*$scaleFactor;
                        }
                        em{
                            display: block;
                            font-family: 'FreeSans-JK';
                            font-size: $fontSize0;
                            line-height: $fontSize0;
                            text-align: center;
                            @media (orientation: portrait) {
                                font-size: $fontSize2*$scaleFactor;
                                line-height: $fontSize2*$scaleFactor;                              
                                border-radius: $padding*$scaleFactor;
                                padding: $padding*$scaleFactor;
                            }
                        }
                        p{
                            background: rgba(var(--color2));
                            border-radius: $padding;
                            width: auto;
                            margin-right: 0;
                            vertical-align: top;
                            text-align: center;
                            font-family: 'FreeSerif-JK';
                            font-size: $fontSize2*2;
                            line-height: $fontSize2*2;
                            color: white;
                            margin-block-start: 0em;
                            margin-block-end: 0em;
                            hyphens: none;
                            @media (orientation: portrait) {
                                display: block;
                                font-size: $fontSize3*$scaleFactor;
                                line-height: $fontSize3*$scaleFactor;
                                border-radius: $padding*$scaleFactor;
                                padding: $padding*$scaleFactor;
                            }
                            em{
                                display: block;
                                font-family: 'FreeSans-JK';
                                font-size: $fontSize0;
                                line-height: $fontSize0;
                                text-align: center;
                                @media (orientation: portrait) {
                                    font-size: $fontSize2*$scaleFactor;
                                    line-height: $fontSize2*$scaleFactor;                               
                                }                               
                            }
                        }

                    }
                    .pill{
                        p{
                            display: inline;
                            color: rgba(var(--color3));
                            font-size: $fontSize1;
                            line-height: $lineHeight1;
                        }
                        font-size: $fontSize1;
                        line-height: $lineHeight1;
                        background: rgba(var(--color2));
                        color: rgba(var(--color3));
                        border-radius: $fontSize1;
                        padding: calc($padding/4) calc($padding) calc($padding/4) $padding;
                        margin-right: calc($padding/2);  
                        white-space: nowrap;
                        @media (orientation: portrait) {
                            font-size: $fontSize1*$scaleFactor;
                            line-height: $lineHeight1*$scaleFactor;
                            border-radius: $fontSize1*$scaleFactor;
                            padding: calc($padding/4)*$scaleFactor calc($padding)*$scaleFactor calc($padding/4)*$scaleFactor $padding*$scaleFactor;
                        }
                    }
                    .bio-wrapper{
                        font-size: $fontSize1;
                        line-height: $lineHeight1;
                        width: 66%;
                        @media (orientation: portrait) {
                            font-size: $fontSize1*$scaleFactor;
                            line-height: $lineHeight1*$scaleFactor;
                        }
                    }
                    h4.bio-wrapper {
                        width: auto;
                    }
                    .image-half, .image-bio{
                        width: calc(50% - $padding);
                        margin-right: $padding;
                        display: inline-block;
                        vertical-align: top;
                    }
                    .image-bio{
                        width: 30%;
                        @media (orientation: portrait) {
                            width: 66%;
                        }
                    }
                    .image-caption{
                        font-size: $fontSize1;
                        line-height: $lineHeight1;
                        margin-block-start: .2em;                      
                    }
                    .video-portrait video{
                        width: 50%;
                        height: auto;
                    }
                }

        }
        .eventswrapper a .events .eventimg img {
            max-height: none;
        }
        }
        .event{
            .breadcrumb{
                color:rgba(var(--color2));
                background: rgba(var(--color1));
                position: fixed;
                top: $padding;
                left: 50vw;
                transform: translateX(-50%);
                z-index: 10;
                text-transform: capitalize;
                @media (orientation: portrait) {
                    top: $padding*$scaleFactor;
                }
            }
            main{
                background: linear-gradient(180deg, rgba(var(--color4)) 0%, rgba(var(--color3)) 4%);
                margin-top: 95vh;
                padding-top:10vw;
                @media (orientation: portrait) {
                    padding-top:30vw;
                    margin-top: 85vh;

                }
                .mainimage{
                    @media (orientation: portrait) {
                        object-position: center;
                    }
                }
            }
            .eventHeader{
                color: rgba(var(--color1));
                margin: $padding*4 0;
                .eventHeaderColumn{
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;                    
                    p{
                        font-size: $fontSize1;
                        line-height: $lineHeight1;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        @media (orientation: portrait) {
                            font-size: $fontSize1*$scaleFactor;
                            line-height: $lineHeight1*$scaleFactor;                           
                        }
                    }
                    #ticketlink{
                        background-color: rgba(var(--color1));
                        color: rgba(var(--color2));
                        display: inline-block;
                        cursor: pointer;
                        margin-left: -$fontSize1;
                    }
                }
            }
            .content{

            }
        }

        h1,h2,h3{
            font-family: 'FreeSerif-JK';
            text-align: center;
            color: rgba(var(--color2));
        }
        h3{
            font-size: $fontSize3;
            line-height: $lineHeight3;
            @media (orientation: portrait) {
                font-size: $fontSize3*$scaleFactor;
                line-height: $lineHeight3*$scaleFactor;                
            }
        }
        h1{
            font-family: 'FreeSans-JK';  
            font-size: $fontSize3*0.9;
            line-height: $lineHeight3*0.9;
            margin-bottom: $padding;
            @media (orientation: portrait) {
                font-size: $fontSize3*$scaleFactor*0.9;
                line-height: $lineHeight3*$scaleFactor*0.9;                
            }         
        }
        p,li
        {
            color: rgba(var(--color2));
            font-size: $fontSize2;
            line-height: $lineHeight2;
            @media (orientation: portrait) {
                font-size: $fontSize2*$scaleFactor;
                line-height: $lineHeight2*$scaleFactor;                
            }
        }
        #ticketshop{
            display: none;
            position: fixed;
            width: 50vw;
            top: 10vh;
            left: 50vw;
            transform: translateX(-50%);
            max-height: 80vh;
            z-index: 10;
            overflow: scroll;
            box-shadow: 0 0 20px rgba(var(--color2));
            @media (orientation: portrait) {
                width: 90vw;
            }
        }
        #ticketclose{
            top:0;
            left:0;
            display: none;
            position: fixed;
            width: 100vw;
            height: 100vh;
            cursor: pointer;
            z-index: 9;
        }




        .timetable{
            font-size: 1.3vh;
            @media (orientation: portrait) {
                font-size: 3vw;
            }
            main{
                min-height: 200vh;
                margin-top: 4.5vw;
            }
            .timetableDay{
                width: 94vw;
                margin-left: 1vw;
            }
            .timetableSpalteWrap{
                position: absolute;
                top:4.5vw;
                z-index: 2;
                margin-left: 3vw;
                width: 97vw;
                overflow: scroll;
                white-space: nowrap;
            }
            .timetableSpalte{
                display: inline-block;
                vertical-align: top;
                overflow: hidden;
                padding-bottom: 30vw;

            }
            .timetableSpalte10{
                position: absolute;
                left: 0;
                z-index: -1;
            }
            .EventTimetable{
                background: rgba(var(--color2));
                color: rgba(var(--color1));
                border-radius: $padding;
                position: relative;
                width: 12vw;
                box-shadow: 0 0 10px rgba(var(--color2));
                margin-right: $padding*0.5;
                margin-left: $padding*0.5;
                overflow: hidden;
                height: 100%;
                @media (orientation: portrait) {
                    width: 27vw;
                }
                .EventTimetableContent{
                    padding: $padding $padding 0 $padding;
                    h3{
                        padding-top:0;
                        margin-top:0;
                        padding-bottom: $padding*0.5;
                        margin-left: 1.2vw;
                    }
                }
                p{
                    font-size: $fontSize0;
                    line-height: $lineHeight0;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    margin-left: 1.2vw;
                    text-indent: -1.2vw;
                    @media (orientation: portrait) {
                        font-size: $fontSize0*$scaleFactor;
                        line-height: $lineHeight0*$scaleFactor;                        
                    }
                }
            }
            .EventTimetable:hover{
                height: auto !important;
                z-index: 10;
            }


            .EventTimetableA{
                display: block;
                white-space: normal;
            }
            .performances{
                background: rgba(var(--color1));
                h2, h3, p{
                    color: rgba(var(--color2));
                }
            }
            .screenings{
                background: rgba(var(--color3));
                h2, h3, p{
                    color: rgba(var(--color2));
                }
            }
            .ausstellungen{
                h2, h3, p{
                    color: rgba(var(--color3));
                }
            }
            .clubnights{
                background: rgba(var(--color2));
                h2, h3, p{
                    color: rgba(var(--color1));
                }               
            }

            .konferenz{
                background: rgba(var(--color3));
                h2, h3, p{
                    color: rgba(var(--color2));
                }
            }
            .diskurs{
                background: rgba(var(--color3));
                h2, h3, p{
                    color: rgba(var(--color2));
                }                
            }
            .date{
                margin-bottom: 0;
                position: sticky;
                top: 6vw;
                z-index: 1;
                height: 0;
                text-align: center;
                z-index: 5;
                @media (orientation: portrait) {
                    top:12vw;
                }
                h1{

                    font-size: $fontSize1;
                    line-height: $lineHeight1;
                    background: rgba(var(--color1));
                    color: rgba(var(--color2));
                    border: 1px solid rgba(var(--color1));
                    transition: none;
                    display: inline;
                    padding: $padding*0.5 $padding*2;
                    border-radius: 2vw;
                    @media (orientation: portrait) {
                        font-size: $fontSize1*$scaleFactor;
                        line-height: $lineHeight1*$scaleFactor;   
                        border-radius: 4vw;                     
                    }
                }
            }
            h2,h3{
                font-family: 'FreeSans-JK';  
                font-size: $fontSize0;
                line-height: $lineHeight0;
                text-align: left;
                margin-left: $padding;
                margin-top: $padding/2;
                margin-right: $padding;
                @media (orientation: portrait) {
                    font-size: $fontSize0*$scaleFactor;
                    line-height: $lineHeight0*$scaleFactor;                    
                }

            }
            h3{
                font-size: $fontSizeMicro;
                line-height: $lineHeightMicro;
                margin-top: 0;
                @media (orientation: portrait) {
                    font-size: $fontSizeMicro*$scaleFactor;
                    line-height: $lineHeightMicro*$scaleFactor;               
                }
            }
            .artist{
            }
            .title{
                margin-top: 0;
            }
            .time{
                padding-bottom:$padding*0.5;
                padding-top:0;
            }
            .format{
                text-transform: capitalize;
                margin-top: 0;
                padding: 0 $padding 0 0;
            }
            .timetableHourlineWrap{
                width: 99vw;
                .timetableHourline{
                    color: rgba(var(--color2));
                    background-image: url('../img/timetableBackground.svg');
                    background-size: cover;
                    background-repeat: repeat;
                    width: 99vw;
                    .hourlineChar{
                        font-size: $fontSizeMicro;
                        text-align: right;
                        width: 2vw;
                    }
                }
            }
            #filters{
                position: fixed;
                top:0;
                left: 0;
                width: 100vw;
                height: 4.5vw;
                background: rgba(var(--color3));
                box-shadow: 0 0 2vw black;
                z-index: 10;
                white-space: nowrap;
                overflow: scroll;
                @media (orientation: portrait) {
                    height: 8.5vw;
                }
                .mediumpill{
                    font-size: $fontSize1;
                    line-height: $lineHeight1;
                    background: rgba(var(--color3));
                    border: 1px solid rgba(var(--color2));
                    color: rgba(var(--color2));
                    display: inline-block;
                    text-transform: capitalize;
                    margin-top: $padding;
                    margin-left: $padding;
                    margin-right: 0;
                    transition: none;
                    @media (orientation: portrait) {
                        font-size: $fontSize1*$scaleFactor;
                        line-height: $lineHeight1*$scaleFactor;                      
                    }
                }
                .active, .mediumpill:hover{
                    background: rgba(var(--color2));
                    color: rgba(var(--color1));                   
                }

            }
            #navButton{
                top: 5.6vw;
                @media (orientation: portrait) {
                    top: 9.75vw;
                }
            }
            .venueLabel{
                white-space: nowrap;
                width: 0;
                position: sticky;
                bottom: 2vw;
            }
        }


/*NAVIGATION */
nav{
    position: fixed;
    top:-100%;
    width:100%;
    height: 100%;
    background: linear-gradient(0deg,  rgba(var(--color1))0%, rgba(var(--color3)) 50%);
    transition: top 0.5s ease-in-out;
    z-index: 90;
    overflow: hidden;
    @media (orientation: portrait) {
        overflow: scroll;
    }
    #headerlogo{
        @media (orientation: portrait) {
            position: fixed;
        }
    }
    ul{
        margin-top: $padding*3;
        @media (orientation: portrait) {
            margin-top: 19vh;
        }
    }
    li.navigation{
        font-size: $fontSize3VH;
        line-height: $lineHeight3VH;
        padding-bottom: $padding;
        text-align: center;  
        @media (orientation: portrait) {
            padding-bottom: 0;
            font-size: 13vw;
            line-height: 13vw;
        }     
    }
    .logo{
        position: absolute;
        width: 27%;
        @media (orientation: portrait) {
            width: 50%;
        }
    }
    .navBottom{
        display: flex;
        text-align: center;
        .left, .middle, .right{
            width: 33%;
            font-size: $fontSize3VH;
            font-family: 'FreeSerif-JK';
            @media (orientation: portrait) {
                font-size: 13vw;
            }     
        }
        .middle{
            @media (orientation: portrait) {
                margin-top: 5vw;
            }
        }
        .left, .right{
            @media (orientation: portrait) {
                margin-top: 18vw;
            }
        }
        img,svg{
            height: $fontSize3VH*0.8;
            padding: $padding;
            @media (orientation: portrait) {
                height: 13vw;
                padding: $padding*2;
            }
        }
        .cls-1 {
            fill: none;
            stroke: rgba(var(--color2));
            stroke-miterlimit: 10;
            stroke-width: 20px;
        }

    }
    .languages{
        position: absolute;
        top: 0;
        right: 9vw;
        @media (orientation: portrait) {
            right: 20vw;
        }
        li{
            display: inline-block;
            list-style: none;
        }
        .smallpill{
            margin-top: 3vw;
            background: rgba(var(--color1));
        }
        .smallpill:hover{
            background: rgba(var(--color2));
            color: rgba(var(--color1));
        }
    }


}

.open{
    top:0;
}
#navButton,#newsClose,#navButtonClose{
    position: fixed;
    top: 1.1vw;
    right: 1.1vw;
    z-index: 100;
    cursor:pointer;
    @media (orientation: portrait) {
        top: 1.1vw*$scaleFactor;
        right: 1.1vw*$scaleFactor;      
    }
    img, svg{
        width:4.7vw;
        @media (orientation: portrait) {
            width:4.7vw*$scaleFactor; 
        }
    }
    .st0{
        fill:rgba(var(--color2));
    }
    .st1{
        fill:rgba(var(--color1));
    }
}
.startpage #navButton, #newsClose{
    top:$fontSize2*2 + $padding*2;
    @media (orientation: portrait) {
        top:$fontSize2*2*$scaleFactor + $padding*2*$scaleFactor;  
    }
}
#newsClose,#navButtonClose{
    display: none;
}
#instaButton{
    position: fixed;
    top: $lineHeight2*2 + $padding;
    left: $padding;
    z-index: 1;
    background: rgba(var(--color1));
    color: rgba(var(--color2));
    @media (orientation: portrait) {
        top: $lineHeight2*2*$scaleFactor + $padding;
        bottom: auto;
    }
}





/* NEWSBAR */
.marquee {
    position: fixed;
    top: 0;
    width: 100vw;
    font-family: 'FreeSerif-JK';
    background-color: rgba(var(--color1));
    color:rgba(var(--color2));
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    height:$fontSize2*2;
    box-shadow: 0 0 20px black;
    z-index: 2;
    transition: all 1s;
    @media (orientation: portrait) {
        height:$fontSize2*2*$scaleFactor;
    }
}
.newsopen{
    //top:100vh;
    height:calc(100vh + $fontSize2*2);
    @media (orientation: portrait) {
        height:calc(100vh);   
    }
    span{
        background-color: rgba(var(--color2));
        color:rgba(var(--color1));       
    }
}
.marquee p {
    display: inline-block;
    animation: marquee 7s linear infinite;
    line-height: $lineHeight2*2;
    font-size: $fontSize2*2;
    margin-block-start: 0;
    margin-block-end: 0;
    cursor: pointer;
    @media (orientation: portrait) {
        line-height: $lineHeight2*2*$scaleFactor;
        font-size: $fontSize2*2*$scaleFactor;        
    }
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-25%, 0); }
}
.newscontent{
    height: calc(100vh - 4.4vw);
    overflow: scroll;
    width: 100vw;
    white-space: normal;
    @media (orientation: portrait) {
        height:calc(100vh - $fontSize2*2*$scaleFactor);   
    }
    .newscontentInner{
        width: 100vw;
        .grid-item, .grid-sizer{
            width: calc(22%);
            float: left;
            padding:$padding;
            margin-bottom: $padding*3;
            @media (orientation: portrait) {
                width:calc(100% - $padding*2);
                padding-bottom: 10vh;
            }
            
            h1{
                line-height: $fontSize2*2;
                font-size: $fontSize2*2;
                @media (orientation: portrait) {
                    line-height: $fontSize2*2*$scaleFactor;
                    font-size: $fontSize2*2*$scaleFactor;                   
                }
            }
            p{
                display: block;
                animation: none;
                white-space: normal;
                font-family: 'FreeSans-JK';
                font-size: $fontSize0;
                line-height: $lineHeight0;
                cursor: default;
                @media (orientation: portrait) {
                    font-size: $fontSize0*$scaleFactor;
                    line-height: $lineHeight0*$scaleFactor;                   
                }

            }
            .video-portrait{
                video{
                    width: 100%;
                    height: auto;
                }
            }
            .date{
                text-align: center;        
            }
            img{
                width: 100%;
                box-shadow: 0 0 10px rgba(var(--color2));
                margin-bottom: $padding;
                @media (orientation: portrait) {
                    margin-bottom: $padding*$scaleFactor;     
                }
            }
            video{
                width: 100%;
                @media (orientation: portrait) {
                    height: calc(100vw / 16 * 9);
                }
            }
            a{
                margin-top: $padding*2;
                color: rgba(var(--color1));
                background-color: rgba(var(--color2));
                border-radius: $lineHeight1;
                padding: calc($padding/2) $padding;
                @media (orientation: portrait) {
                    border-radius: $lineHeight1*$scaleFactor;
                    padding: calc($padding/2)*$scaleFactor $padding*$scaleFactor;                   
                }
            }
            span{
                background: none;
                color: rgba(var(--color2));
            }
        }
    }
}

/* FOOTER */
footer{
    background-color: rgba(var(--color2));
    padding: $padding*2;
    box-shadow: 0 0 20px black;
    @media (orientation: portrait) {
        scroll-snap-align: none;
    }
    a,p{
        color:white;
        font-size: $fontSize1;
        line-height: $lineHeight1;
        @media (orientation: portrait) {
            font-size: $fontSize1*$scaleFactor;
            line-height: $lineHeight1*$scaleFactor;            
        }
    }
    div{
        display: inline-block;
        vertical-align: top;
    }
    .toplinks{
        width:80%;
        @media (orientation: portrait) {
            width: 50%;
        }
        ul{
            margin-top: $padding;

        }
        li{
            display: inline-block;
            @media (orientation: portrait) {
                display: block;
                margin-top: $lineHeight2*$scaleFactor;
            }
            .mediumpill{
                border: 1px solid rgba(var(--color1));
            }
            a{
                background-color: rgba(var(--color1));
                color:  rgba(var(--color2));
            }
            a:hover{
                background-color:rgba(var(--color2));
                color: rgba(var(--color1));
            }
        }
        .logo{
            width: 30%;
            margin-right: 8%;
            margin-top: -1vw;
            margin-left: -1vw;
            @media (orientation: portrait) {
                width: 100%;
            }
        }
        .logo,ul{
            display: inline-block;
            vertical-align: top;
        }
    }
    .adresse{
        width:30%;
        @media (orientation: portrait) {
            width: 100%;
            margin-top: 10vw;
        }
    }
    .left{
        width: 20%;
        height:100px;
        @media (orientation: portrait) {
            width: 50%;
            height: auto;
            margin-top: 29vw;
        }
        .mediumpill{
            border: 1px solid white;
            line-height: $lineHeight1*3;
        }
        a{
            background-color: rgba(var(--color2));
        }
        a:hover{
            background-color: white;
            color:rgba(var(--color2));
        }
        .nohover:hover{
            background-color: transparent;
            color: rgba(var(--color1));
        }
        .smicons{
            @media (orientation: portrait) {
                width: 100%;
            }
            img{
                width: $fontSize2*2.5;
                margin-right: $padding;
                @media (orientation: portrait) {
                    width: $fontSize2*2.5*$scaleFactor; 
                    margin-right: $padding*$scaleFactor;
                }
            }
            margin-bottom: $padding*3;
        }
        .smalllinks{
            @media (orientation: portrait) {
                margin-top: $padding*$scaleFactor*2;
            }
                li{
                @media (orientation: portrait) {
                    margin-top: $padding*$scaleFactor;
                }
            }

        }
        li{
            @media (orientation: portrait) {
                display: block;
                margin-top: $lineHeight2*$scaleFactor;
            }
        }

    }
    .middle{
        width: 50%;
        margin-top: $padding*-4;
        @media (orientation: portrait) {
            width: 100%;
            margin-top: 0;
        }
        p{
            font-size: $fontSize0;
            line-height: $lineHeight0;
            @media (orientation: portrait) {
                font-size: $fontSize0*$scaleFactor;
                line-height: $lineHeight0*$scaleFactor;               
            }
        }
        .logofooter{
            display: inline-block;
            vertical-align: middle;
            height: $fontSize2;
            padding: $padding $padding*3 $padding 0;
            @media (orientation: portrait) {
                height: $fontSize2*$scaleFactor;
                padding: $padding*$scaleFactor $padding*3*$scaleFactor $padding*$scaleFactor 0;
            }
        }
        .logofooterlang{
            width: $fontSize2*6;
            height: auto;
            @media (orientation: portrait) {
                width:30vw;
            }
        }
    }
}
#newsletterClose{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    cursor: pointer;
    z-index: 9;
}
#newsletterBox{
    display: none;
    position: fixed;
    width: 50vw;
    height: auto;
    margin-left: 50%;
    transform: translateX(-50%);
    background: rgba(var(--color1));
    padding: $padding;
    padding-top: $padding*4;
    top: 20vh;
    text-align: center;
    border-radius: $padding;
    box-shadow: 0 0 20px rgba(var(--color1));
    z-index: 10;
    @media (orientation: portrait) {
        width: calc(100vw - $padding*2);

    }
    label{
        font-weight: bold;
        font-family: 'FreeSans-JK';
        color: rgba(var(--color2));
        transition: color 1s linear;
        font-size: $fontSize2;
        line-height: $lineHeight2;    
    
        @media (orientation: portrait) {
            font-size: $fontSize2*$scaleFactor;
            line-height: $lineHeight2*$scaleFactor;    
        }
    }
    #mc_embed_signup .button{
        display: inline-block;
        background-color: rgba(var(--color2));
        color: rgba(var(--color1));
        transition: color 1s linear;
        transition: background-color 1s linear;
        padding: $padding $padding*2 $padding $padding*2;
        border-radius: $lineHeight1;
        font-size: $fontSize1;
        line-height: $lineHeight1;
        margin-left:  $padding;
        margin-bottom: $padding;
        cursor: pointer;
        @media (orientation: portrait) {
            font-size: $fontSize1*$scaleFactor*1.5;
            line-height: $lineHeight1*$scaleFactor*1.5;           
            padding: $padding*$scaleFactor $padding*2*$scaleFactor $padding*$scaleFactor $padding*2*$scaleFactor;
            margin-left:  $padding*$scaleFactor;
            margin-bottom: $padding*$scaleFactor;
            border-radius: $lineHeight1*$scaleFactor*2;
        }
    }

    .submit, input, #mc_embed_signup input{
        background-color: transparent;
        border: 0.2vw solid rgba(var(--color2));
        color: rgba(var(--color2));  
        transition: color 1s linear;
        margin-left: 50%;
        margin-right: 50%;  
        transform: translateX(-50%);    
        margin-top: $padding;
        font-size: $fontSize1;
        line-height: $lineHeight1;
        padding: $padding*1.5 $padding*3 $padding*1.5 $padding*3;
        border-radius: $lineHeight1*3;
        font-family: "FreeSans-JK", sans-serif;
        @media (orientation: portrait) {
            font-size: $fontSize1*2*$scaleFactor;
            line-height: $lineHeight1*$scaleFactor;
            padding: $padding*3*$scaleFactor $padding*6*$scaleFactor $padding*3*$scaleFactor $padding*6*$scaleFactor;
            border-radius: $lineHeight1*3*$scaleFactor;      
            border: 1vw solid rgba(var(--color2));
    
        }

    }
    #mc_embed_signup .mc-field-group input{
        width: 70%;
        margin-top:0.5vw;
        @media (orientation: portrait) {
            width: 90%;
        }
  
    }
    #mc_embed_signup .mc-field-group{
        min-height: auto;
    }
    #mc_embed_signup .foot{
        width: 100%;
        grid-template-columns: auto;
    }
    #mc_embed_signup .button{
        font-family: "FreeSans-JK";
        height:auto;
        margin-left: auto;
        margin-right: auto;
        transform: translateX(0);
    }
    #mc_embed_signup .asterisk{
        color:rgba(var(--color2));
    }
    #mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error, #mc_embed_signup .helper_text{
        background: none;
        color:rgba(var(--color2));
    }
    #mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error{
        border: 0.4vw solid #e85c41;
        @media (orientation: portrait) {
            border: 1vw solid #e85c41;
        }
    }
    #mc_embed_signup .mc-field-group label{
        text-align: center;
    }
    #mc_embed_signup form{
        z-index: 0;
    }
    #mc_embed_signup #mce-success-response{
        font-size: $fontSize3;
        line-height: $lineHeight3;
        font-family: "FreeSerif-JK";
        width:100%;
        text-align: center;
        color:rgba(var(--color2));
        padding-top:0;
    
    }
}


/*SOCKET */

#status, .member{
    display:inline-block;
    background-color: rgba(var(--color1));
    color: rgba(var(--color2));
    transition: color 1s linear;
    padding: $padding/2 $padding $padding/2 $padding;
    font-size: $fontSize0;
    line-height: $lineHeight0;
    margin-left:  $padding*2;
    margin-bottom: $padding;
    @media (orientation: portrait) {
        font-size: $fontSize0*$scaleFactor;
        line-height: $lineHeight0*$scaleFactor;
        margin-left:  $padding*$scaleFactor;
        margin-bottom: $padding*$scaleFactor;
        padding: $padding/2*$scaleFactor $padding*$scaleFactor $padding/2*$scaleFactor $padding*$scaleFactor;
        border-radius: $lineHeight1*$scaleFactor;
    }
}
.cursor{
    position: fixed;
    z-index: 1000;
    left:-10vw;
    top:-10vw;
    font-size: 3vw;
    @media (orientation: portrait) {
        font-size: $fontSize2*$scaleFactor;
    }
    //transition: all 0.1s;
}
.meetingPoint{
    position: fixed;
    z-index: 4;
}
@keyframes emojiFly {
    0% {
        transform: translateY(-3000px);
    }
    1% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-3000px);
    }
}
.emoji{
    position: absolute;
    transform: translateX(0px);
    animation: emojiFly 4s forwards;
    font-size: 3vw;

}
