:root {
  --color1: 255, 255, 255, 1;
  --color2: 255, 255, 255, 1;
  --color3: 0,0,0,1;
  --color4: 0,0,0,1;
}

video {
  display: none !important;
}

img, .eventimg {
  filter: grayscale(1);
}

:root {
  --color1: 215, 255, 0, 1;
  --color2: 140, 110, 255, 1;
  --color3: 215,215,215,1;
  --color4: 0,0,0,0;
  --hourHeight: 7vw;
}

body {
  font-family: "FreeSans-JK", sans-serif;
  margin: 0;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  background: rgba(var(--color3));
}

::-moz-selection {
  background: rgb(215, 255, 0);
}

::selection {
  background: rgb(215, 255, 0);
}

/*EVENTS*/
.startpage .smallpill, .bigpill, .timetable .date h1, .breadcrumb, .event .eventHeader .eventHeaderColumn #ticketlink, .event .eventHeader .eventHeaderColumn #ticketlink2, nav .languages .smallpill, h2, .pill {
  color: rgba(var(--color1)) !important;
  background: rgba(var(--color3)) !important;
  border: 0.2vw solid rgba(var(--color1)) !important;
}
.startpage .smallpill a, .bigpill a, .timetable .date h1 a, .breadcrumb a, .event .eventHeader .eventHeaderColumn #ticketlink a, .event .eventHeader .eventHeaderColumn #ticketlink2 a, nav .languages .smallpill a, h2 a, .pill a {
  color: blue !important;
}

footer .toplinks li a {
  color: rgba(var(--color1)) !important;
  background: rgba(var(--color3)) !important;
}
footer .toplinks li a a {
  color: blue !important;
}

.active {
  color: rgba(var(--color3)) !important;
  background: rgba(var(--color1)) !important;
}

.event main, .page main {
  margin-top: 0;
  background: rgba(var(--color3)) !important;
}

.timetable .EventTimetable, .timetable .EventTimetable a, .timetable main, .marquee {
  background: rgba(var(--color3)) !important;
}

nav {
  background: rgba(var(--color3)) !important;
}

.timetable h2, .startpage h2 {
  border: none !important;
}

a {
  color: blue !important;
}

.startpage main section {
  height: auto !important;
  scroll-snap-align: none !important;
  padding-top: 10vw !important;
}
@media (orientation: portrait) {
  .startpage main section {
    height: 100vh !important;
  }
}

.startpage main .preview {
  scroll-snap-align: none;
}

.mainimageCaption {
  display: none;
}

.panicMode {
  display: block;
  margin-bottom: 2vw !important;
}

.startpage main section .bigpill {
  position: relative !important;
  top: 0 !important;
  margin-bottom: 10vh !important;
}
@media (orientation: portrait) {
  .startpage main section .bigpill {
    margin-top: 0;
  }
}

.preview {
  height: auto !important;
}

.startpage main {
  scroll-snap-type: none;
}

#instaButton, #visitButton, #aboutButton, #ticketButton {
  display: none;
}

.startimage {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

section .mediumpill {
  margin-left: 50vw;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  background: white;
  border-radius: 3vw;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  white-space: nowrap;
}
@media (orientation: portrait) {
  section .mediumpill {
    border-radius: 3vw;
  }
}
section .startspacer {
  margin-bottom: 40vh !important;
}

.glide p, .glide li {
  color: blue;
}

.glide__bullet {
  background: black !important;
  border-color: white !important;
}

.glide__bullet--active {
  background: white !important;
}

#navButton img, #navButton svg, #newsClose img, #newsClose svg, #navButtonClose img, #navButtonClose svg {
  width: 8.7vw;
}
@media (orientation: portrait) {
  #navButton img, #navButton svg, #newsClose img, #newsClose svg, #navButtonClose img, #navButtonClose svg {
    width: 15vw;
  }
}

a, h1, h2, h3, h4, h5, h6, p, li, blockquote, div, section, main, footer, td, table, tbody, td p {
  transition: none !important;
}

footer .toplinks li .mediumpill {
  color: blue !important;
}

.st1 {
  fill: blue !important;
}

.EventTimetable {
  color: blue !important;
}
.EventTimetable h2, .EventTimetable h3, .EventTimetable a, .EventTimetable p {
  color: blue !important;
}

#accessibilityButton {
  right: 1vw;
  top: 12vw;
}
@media (orientation: portrait) {
  #accessibilityButton {
    top: 20vw;
  }
}

.timetable #accessibilityButton, .artists #accessibilityButton {
  top: 16vw;
}
@media (orientation: portrait) {
  .timetable #accessibilityButton, .artists #accessibilityButton {
    top: 28vw;
  }
}

.eventswrapper a .events .eventimg .label {
  color: white !important;
}/*# sourceMappingURL=panicMode.css.map */